<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="container">
            <nav>
                <ul class="nav__list">
                    <li class="nav__item">Home</li>
                    <li class="nav__item">About</li>
                </ul>
                <p class="nav__login">
                    <a href="login.html">Login</a>
                </p>
            </nav>
        </div>
        
    </header>

    <main>
        <div class="container">
            <div class="wallet-wrapper">
                <div class="wallet-content">
                    <div class="wallet">
                        <h1 class="wallet__left-money">
                            9999 deneg do 01.01.2011
                        </h1>
                        <h3 class="wallet__daily-available">daily 8999</h3>
                    </div>
                    <div class="wallet__form">
                        <label for="spend">Spend</label>
                        <input type="number" name="spend" class="wallet__form__input">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="wallet__form__input">
                        <button class="wallet__form__button" id="spend_button">Congirm</button>
                    </div>
                </div>
                <div class="wallet__spends">
                    <h3>Last spend</h3>
                    <ul class="wallet__spends__list">
                        <li class="wallet__spends__item">
                            <p class="wallet__spend__title">bokk</p>
                            <p class="wallet__spend__price">1990</p>
                            <p class="wallet__spend__date">01.01.2001</p>
                        </li>
                        <li class="wallet__spends__item">
                            <p class="wallet__spend__title">bokk</p>
                            <p class="wallet__spend__price">1990</p>
                            <p class="wallet__spend__date">01.01.2001</p>
                        </li>
                        <li class="wallet__spends__item">
                            <p class="wallet__spend__title">bokk</p>
                            <p class="wallet__spend__price">1990</p>
                            <p class="wallet__spend__date">01.01.2001</p>
                        </li>
                        <li class="wallet__spends__item">
                            <p class="wallet__spend__title">bokk</p>
                            <p class="wallet__spend__price">1990</p>
                            <p class="wallet__spend__date">01.01.2001</p>
                        </li>
                        <li class="wallet__spends__item">
                            <p class="wallet__spend__title">bokk</p>
                            <p class="wallet__spend__price">1990</p>
                            <p class="wallet__spend__date">01.01.2001</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

</body>
</html>